h1{
    
    background-color:#F0F0F0;
    color:#01030c;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28pt bold ;
}
h2{
    text-align: center;  
    font-size: 24pt;
    color: #0e0d0d;
}
h3{
    text-align: center;
    font-size: 19pt;
    color: rgb(48, 47, 47);

}
h4{
    text-align: left;
    font-size: 18pt;
    color: midnightblue;

}