body{
    background-color:white;
    color: #404040;
    font-family: Georgia,Garamond,serif;
    font-size: 11pt;
    background-image: url(/res/silverware.jpg);
    
}
h1{
    
    background-color:#F0F0F0;
    color:#A4A400;
    font-family: Lucida Sans Unicode, Helvetica, Arial,sans-serif;
    font-size: 22pt bold ;
    letter-spacing: 0.25em;
}
h2{
    background-color:#F0F0F0;
    text-align: left;  
    font-size: 18pt;
    color: #A4A400;
    letter-spacing: 0.25em;
}
p{
    color: #404040;
}
footer{
    font-family: monospace;
}
:any-link{
    color: #A4A400;}

ul{
    list-style-image: url('./images/pie_icon.gif');
}
